<div class="flex flex-wrap">
    <mat-card *ngFor="let raid of raid.raids$ | async" class="raid">
        <mat-card-header>
            <mat-card-title><span [matBadge]="raid.players.length" matBadgeOverlap="false">{{raid.name}}</span>
            </mat-card-title>
            <mat-card-subtitle>{{raid.date.toDate() | date: 'MMM dd h:mm a'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions class="flex flex-center">
            <button mat-button [routerLink]="['/raid', raid.id]">VIEW</button>
            <button mat-button color="primary" *ngIf="(user.afAuth.user | async)?.uid" [routerLink]="['/raid', raid.id]"
                [queryParams]="{signUp: true}" [disabled]="raid.date.toDate() < now">SIGN UP</button>
        </mat-card-actions>
    </mat-card>
</div>