$druid: #FF7D0A;
$hunter: #A9D271;
$mage: #40C7EB;
$priest: #FFFFFF;
$rogue: #FFF569;
$shaman: #0070DE;
$warlock: #8787ED;
$warrior: #C79C6E;

.druid {
    background-color: $druid;
}
.hunter {
    background-color: $hunter;
}
.mage {
    background-color: $mage;
}
.priest {
    background-color: $priest;
}
.rogue {
    background-color: $rogue;
}
.shaman {
    background-color: $shaman;
}
.warlock {
    background-color: $warlock;
}
.warrior {
    background-color: $warrior;
}