<form [formGroup]="classForm" (ngSubmit)="submitClassForm()">
    <mat-form-field class="full-width">
        <input matInput placeholder="Character Name" formControlName="charName">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Select Class</mat-label>
        <mat-select formControlName="class">
            <mat-option *ngFor="let class of classes" [value]="class">
                {{class.toUpperCase()}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Select Role</mat-label>
        <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role">
                {{role.toUpperCase()}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button [disabled]="classForm.invalid">Submit</button>
</form>